.gradle/
.idea/
build/
common/.gradle/
common/build/
fabric/.gradle/
fabric/build/
forge/.gradle/
forge/build/
run/
out/
output/
bin/
libs/
classes/

*.ipr
*.iws
*.iml
*.xml
*.launch
.classpath
.project
.metadata
.vscode
.settings
